@using Microsoft.AspNetCore.Authorization
@model ProductListViewModel
@inject IAuthorizationService AuthorizationService
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Product List</h2>
@if ((AuthorizationService.AuthorizeAsync(this.User, "Permissions.Account.RegisterAccount")).Result.Succeeded)
{
    <a class="btn btn-xs btn-success" asp-action="AddUser" asp-controller="Account">Register new User</a>
}
@if ((AuthorizationService.AuthorizeAsync(this.User, "Permissions.Admin.AddProduct")).Result.Succeeded)
{
    <a class="btn btn-xs btn-success" asp-action="AddProduct" asp-controller="Admin">Add a new Product</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                ProductName
            </th>

            <th>
                UnitPrice
            </th>
            <th>
                UnitsInStock
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    @if ((AuthorizationService.AuthorizeAsync(User, "Permissions.Admin.UpdateProduct")).Result.Succeeded)
                    {
                        <a class="btn btn-xs btn-info" asp-action="UpdateProduct" asp-controller="Admin" asp-route-productId="@item.ProductId">Update</a>
                    }
                    @if ((AuthorizationService.AuthorizeAsync(User, "Permissions.Admin.DeleteProduct")).Result.Succeeded)
                    {
                        <a class="btn btn-xs btn-danger" asp-action="DeleteProduct" asp-controller="Admin" asp-route-productId="@item.ProductId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


